{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Registro My List</title>
    <!-- metatags-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Transitive register form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <!--font_wesome_icons-->
    <link href="//fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <!--online fonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <!--online fonts-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{288769781762723}',
            cookie: true,
            xfbml: true,
            version: '{v3.2}'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<body>
    <div class="w3ls-headding">
        <h1>
            <span>M</span>y List
            <span>f</span>ormulario
            <span>r</span>egistro
        </h1>
    </div>
    <div class="agile-main">
        <div class="agile-left">

        </div>
        <div class="agile-right">
            <div class="modal-content">
                <div class="modal-header" alig="center">
                    <h1>Bienvenido a My List!</h1>
                </div>

                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Entrar</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Registrar</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="{% url 'aplicacion' %}" method="post" role="form" style="display: block;">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control"
                                            placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control"
                                            placeholder="Password">
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                    class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot
                                                        Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="register-form" action="{% url 'crear' %}" method="post" role="form" style="display: none;">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="nombre" id="nombre" tabindex="1" class="form-control"
                                            placeholder="Nombre usuario" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="correo" id="correo" tabindex="1" class="form-control"
                                            placeholder="Ingrese su correo" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="contrasenia" id="contrasenia" tabindex="2" class="form-control"
                                            placeholder="Ingrese su contraseñia">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm-password" id="confirm-password" tabindex="2"
                                            class="form-control" placeholder="Confirme contraseñia">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit"
                                                    tabindex="4" class="form-control btn btn-register" value="Registrarme Ahora!">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <p class="wthree-p"> o conectar con </p>
                <div class="wthree-social">
                    {% if not user.is_authenticated %}
                    <a href="{% url 'social:begin' 'facebook' %}">
                        <i class="fa fa-facebook" aria-hidden="true"></i> ingresar con facebook </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <footer>
        <p>&copy; transitive register Form. All Rights Reserved | Design by
            <a href="http://w3layouts.com/"> W3layouts</a>
        </p>
    </footer>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'js/registro.js'%}"></script>
</body>

</html>