{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mis Listas</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  <!-- endinject -->

</head>

<body>
  <div class="body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <aside class="mdc-persistent-drawer mdc-persistent-drawer--open">
      <nav class="mdc-persistent-drawer__drawer">
        <div class="mdc-persistent-drawer__toolbar-spacer">
          <a href="#" class="brand-logo">
            <img src="{% static '/img/milistIcon.PNG' %}">
          </a>
        </div>
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="{% url 'aplicacion' %}">
                <img src="{% static '/img/home.png' %}" width="40px" height="40px">
                Home
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="/listas">
                <img src="{% static '/img/lista.png' %}" width="40px" height="40px">
                Mis Listas
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="/tiendas">
                <img src="{% static '/img/tienda.png' %}" width="40px" height="40px">
                Tiendas
              </a>
            </div>
          </nav>
        </div>
      </nav>
    </aside>
    <!-- partial -->
    <!-- partial:../../partials/_navbar.html -->
    <header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <a href="#" class="menu-toggler material-icons mdc-toolbar__menu-icon">menu</a>
          <span class="mdc-toolbar__input">
            <div class="mdc-text-field">
              <input type="text" class="mdc-text-field__input" id="css-only-text-field-box" placeholder="Search anything...">
            </div>
          </span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <div class="mdc-menu-anchor">
            <a href="#" class="mdc-toolbar__icon toggle mdc-ripple-surface" data-toggle="dropdown" toggle-dropdown="notification-menu"
              data-mdc-auto-init="MDCRipple">
              <i class="material-icons">notificaciones</i>
              <span class="dropdown-count">3</span>
            </a>
            <div class="mdc-simple-menu mdc-simple-menu--right" tabindex="-1" id="notification-menu">
              <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
                <li class="mdc-list-item" role="menuitem" tabindex="0">
                  <i class="material-icons mdc-theme--primary mr-1">email</i>
                  One unread message
                </li>

              </ul>
            </div>
          </div>
          <div class="mdc-menu-anchor">
            <a href="#" class="mdc-toolbar__icon mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
              <i class="material-icons">cerrar sesion</i>
            </a>
          </div>
        </section>
      </div>
    </header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">Registro Tiendas</h1>
                </section>
                <form action="{% url 'tiendas' %}" method="post" role="form">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="nombre_tienda">Nombre Tienda:</label>
                      <input type="text" class="form-control" id="nombre_lista" placeholder="Ingrese el nombre de la tienda">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="nombre_sucursal">Nombre sucursal:</label>
                      <input type="text" class="form-control" id="nombre_sucursal" placeholder="Ingrese el nombre de la sucursal">
                    </div>

                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="direccion">Dirección:</label>
                      <input type="text" class="form-control" id="direccion" placeholder="Ingrese la dirección de la tienda">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="region">Region:</label>
                      <select id="region"  name="region" class="form-control">
                        
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="comuna">Ciudad:</label>
                      <select id="comuna" name="comuna" class="form-control">
                        
                      </select>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Guardar Lista!</button>
                </form>

              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">Regalos Navidad</h1>
                </section>
                <div class="template-demo">
                  <table class="table table-hoverable">
                    <thead>
                      <tr>
                        <th class="text-left">Nombre producto</th>
                        <th>Costo real</th>
                        <th>Tienda</th>
                        <th>Estado producto</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left">Radio portatil</td>
                        <td>25.000</td>
                        <td>Paris</td>
                        <td>Pendiente</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- partial:../../partials/_footer.html -->
      <footer>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
              <span class="text-muted">Copyright © 2018 <a class="text-green" href="https://www.bootstrapdash.com/"
                  target="_blank">Bootstrap Dash</a>. All rights reserved.</span>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 d-flex justify-content-end">
              <span class="mt-0 text-right">Hand-crafted &amp; made with <i class="mdi mdi-heart text-red"></i></span>
            </div>
          </div>
        </div>
      </footer>
      <!-- partial -->
    </div>
  </div>
  <!-- body wrapper -->
  <!-- plugins:js -->
  <script src="{% static '/node_modules/material-components-web.min.js' %}"></script>
  <script src="{% static '/node_modules/jquery.min.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static '/js/misc.js' %}"></script>
  <script src="{% static '/js/material.js' %}"></script>
  <script src="{% static '/js/regiones.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>