/*Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/*--Reset code--*/
body{
	background:url(../img/bg.jpg),no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}
body a{
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
font-weight:400;
}
input[type="button"],input[type="submit"]{
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
margin:0;	
font-weight:400;
    transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
font-family: 'Josefin Sans', sans-serif;
}
.clear {
clear:both;
}
p{
margin:0;
}

ul{
margin:0;
padding:0;
}

label{
margin:0;
}
img {
    width: 100%;
}
@font-face {
  font-family:'PT Sans', 'sans-serif';
  src: url('../fonts/PTSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family:'Exo 2';
  src: url('../fonts/Exo2-Regular.ttf') format('truetype');
}
/*--/Reset code--*/

.w3ls-headding h1{
	font-size: 50px;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
    letter-spacing: 2px;	
	color: #fff;
    margin: 45px 0px;
	font-family: 'Exo 2', sans-serif;
}
.w3ls-headding span{
	color: #f5bb06;
}
.agile-main {
    width: 60%;
    margin: auto;
	display: flex;
}
.agile-left {
	flex: 1;
	background:url(../img/left1.jpg)no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.agile-right { 
	flex:1;
	padding: 2em;
    background: rgba(15, 16, 15, 0.89);
 
}
.agile-right span .fa {
    font-size: 15px;
    width: 7%;
	text-align: center;
    border-right: 1px solid #000;
    color: #d82a87;
}
.agile-right-h2 h2 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;
}
.w3l-name,.w3l-email,.w3l-psw ,.w3l-cpsw{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
    margin:	15px 0px;
    padding: 10px 0px 10px 10px;
    letter-spacing: 1px;
	box-sizing:border-box;
	border: none;
    outline: none;
    background: #fff;
    color: #1b1a1a;
	font-family: 'PT Sans', sans-serif;
}
.w3l-name input[type="text"] ,.w3l-email input[type="email"],.w3l-psw input[type="password"],.w3l-cpsw input[type="password"]{
	letter-spacing: 2px;
	border: none;
    outline: none;
	width: 90%;
	font-family: 'PT Sans', sans-serif;
}
.w3l-agree {
    text-align: center;
}
.w3l-agree p{
	display: inline-block;
}
.w3l-submit input[type="submit"] {
	font-size: 15px;
	font-weight: 500;
	text-transform: capitalize;
    padding: 8px;
    width: 60%;
    margin: 8px auto;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 2em;
    background: transparent;
    color: #fff;
    outline: none;
    cursor: pointer;
    display: block;
	font-family: 'PT Sans', sans-serif;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.w3l-submit input[type="submit"]:hover {
    background:	rgba(9, 235, 156, 0.44);  
    color: #fff;
	transition: 0.5s ease-in;
	font-family: 'PT Sans', sans-serif;
}
.wthree-social a {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 4px;
    width: 55%;
    margin: 18px auto;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    border-radius: 2em;
    background: #3b5998;
    color: #fff;
    outline: none;
    cursor: pointer;
    display: block;
    font-family: 'PT Sans', sans-serif;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.wthree-social i {
    padding-right: 14px;
}
.wthree-social.fa{
	color: #fff;
}
.wthree-social input[type="submit"]{
    border: transparent;
    background: transparent;
    cursor: auto;
}
.w3l-agree p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
}
.wthree-p {
	font-size: 15px;
	font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: #000;
	font-family: 'PT Sans', sans-serif;
}
.wthree-p:before {
    position: absolute;
    content: '';
    width: 65px;
    height: 2px;
    background: #d82a87;
    top: 49%;
    left: 10%;
}
.wthree-p:after {
    position: absolute;
    content: '';
    width: 65px;
    height: 2px;
    background: #d82a87;
    top: 49%;
    left: 74%;
}
footer  p{
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 3px;
	margin-top: 5em;
	color: #fff;
	font-family: 'Exo 2', sans-serif;
}
footer p a{
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	letter-spacing: 3px;
	color: #efff00;
	font-family: 'Exo 2', sans-serif;
}
footer a:hover{
	color: #75eb6f;
}
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680){
	
}
@media(max-width:1600px){
}

@media(max-width:1440px){
	
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}
@media(max-width:1080px){
	
}
@media(max-width:1050px){
	.agile-main {
		width: 70%;
	}
	.wthree-p:before {
		left: 5%;
	}
	.wthree-p:after{
		left: 75%;
	}
	.wthree-social a {
		width: 60%;
	}
}
@media(max-width:1024px){
	.w3ls-headding h1 {
		font-size: 40px;
		margin: 25px 0px;
	}
	footer p {
		letter-spacing: 2px;
		margin-top: 2em;
	}
	.wthree-p:before {
		left: 4%;
	}
}
@media(max-width:991px){
	.w3ls-headding h1{
		font-size: 45px;
		
	}
	.w3l-submit input[type="submit"]{
		width: 65%;
	}
	.wthree-social a {
		width: 65%;
	}
	.wthree-p:before{
		left: 3%;
	}
	footer p{
		letter-spacing: 2px;
	}
}
@media(max-width:900px){
	.w3ls-headding h1{
		font-size: 40px;
		margin: 30px 0px;
	}
	.agile-main{
		width: 80%;
	}
	.w3l-submit input[type="submit"]{
		width: 75%;
	}
	.wthree-p:before{
		width: 20%;
	}
	.wthree-p:before {
		left: 3%;
	}
	.wthree-p:after{
		width: 20%;
	}
	.wthree-p:after {
    left: 77%;
	}
	.wthree-social a {
		width: 75%;
	}
	footer p{
		font-size: 14px;
		letter-spacing: 1px;
		margin-top: 1em;
	}
}
@media(max-width:800px){
	
	}
@media(max-width:768px){
	.w3ls-headding h1 {
		font-size: 40px;
		margin: 40px 0px;
	}
	.agile-main {
		width: 85%;
	}
	.agile-right span .fa {
		width: 10%;
	}
	.w3l-name input[type="text"], .w3l-email input[type="email"], .w3l-psw input[type="password"], .w3l-cpsw input[type="password"] {
		width: 80%;
	}
	footer p {
		margin-top: 2em;
	}
	footer p a{
		font-size: 14px;
	}
}
@media(max-width:736px){
	.agile-main {
		width: 70%;
		flex-direction: column;
	}
	.agile-left{
		height: 500px;
		margin: 0 0 1em;
	}
	.wthree-p:before {
    width: 20%;
	}
	.wthree-p:before {
    left: 4%;
	}
	.wthree-p:after {
    width: 20%;
	}
	.wthree-p:after {
    left: 76%;
	}
}
@media(max-width:667px){
	
}
@media(max-width:640px){
	
}
@media(max-width:600px){
	footer p a {
		font-size: 14px;
	}
	.wthree-p:before {
		width: 20%;
	}
	.wthree-p:before {
		left: 4%;
	}
	.wthree-p:after {
		width: 20%;
	}
	.wthree-p:after {
		left: 76%;
	}
}
@media(max-width:568px){
	.agile-main {
		width: 80%;
	}
	.wthree-p:before {
		left: 4%;
	}
	.wthree-p:before {
		width: 20%;
	}
	.wthree-p:after {
		left: 75%;
	}
	.wthree-p:after {
		width: 20%;
	}
	footer p a {
		font-size: 14px;
	}
}
@media(max-width:480px){
	.w3ls-headding h1 {
		font-size: 35px;
	}
	.agile-main {
		width: 90%;
	}
	footer p a{
	font-size: 13px;
	}
}
@media(max-width:414px){
	.w3ls-headding h1 {
		font-size: 30px;
	}
	.agile-right span .fa {
		width: 10%;
	}
	.w3l-name input[type="text"], .w3l-email input[type="email"], .w3l-psw input[type="password"], .w3l-cpsw input[type="password"] {
		width: 80%;
	}
}
@media(max-width:384px){
	.w3ls-headding h1 {
		font-size: 25px;
	}
	.agile-right span .fa {
		width: 10%;
	}
	.w3l-name input[type="text"], .w3l-email input[type="email"], .w3l-psw input[type="password"], .w3l-cpsw input[type="password"] {
		width: 80%;
	}
	.w3l-agree p {
		font-size: 14px;
	}
	.wthree-p:before {
    width: 20%;
	}
	.wthree-p:before {
    left: 0%;
	}
	.wthree-p:after {
    left: 80%;
	}
	.wthree-p:after {
    width: 20%;
	}
	.wthree-social a {
    width: 80%;
	}
	footer p a {
		font-size: 14px;
	}
}
@media(max-width:375px){
	.agile-right span .fa {
		    width: 9%;
			text-align: left;
	}
	.w3l-name input[type="text"], .w3l-email input[type="email"], .w3l-psw input[type="password"], .w3l-cpsw input[type="password"] {
		width: 85%;
	}
	.wthree-p:before {
    left: 0%;
	}
	.wthree-p:after {
    left: 80%;
	}
}
@media(max-width:320px){
	.w3ls-headding h1 {
		font-size: 20px;
	}
	.agile-right span .fa {
		font-size: 13px;
		width: 10%;
	}
	.w3l-name input[type="text"], .w3l-email input[type="email"], .w3l-psw input[type="password"], .w3l-cpsw input[type="password"]{
		    width: 85%;
	}
	.w3l-agree p {
		font-size: 11px;
		vertical-align: text-top;
	}
	.w3l-submit input[type="submit"] {
		font-size: 13px;
		width: 100%;
	}
	.wthree-p:before {
		left: 3px;
	}
	.wthree-p:before {
		width: 10%;
	}
	.wthree-p:after {
		left: 87%;
	}
	.wthree-p:after {
		width: 10%;
	}
	.wthree-social a {
		font-size: 13px;
		width: 95%;
	}
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}